<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.BoardMapper">
    <insert id="insertBoard" parameterType="boardVO">
        insert into board
        values (board_pk_seq.NEXTVAL, #{btitle}, #{filename}, #{bwriter}, #{bcontent}, SYSDATE)
    </insert>

    <update id="updateBoard" parameterType="boardVO">
        update board
        set
            btitle = #{btitle},
            bcontent = #{bcontent}
        where bnum = #{bnum}
    </update>

    <delete id="deleteBoard" parameterType="boardVO">
        delete from board where bnum = #{bnum}
    </delete>

    <select id="getBoard" resultType="boardVO">
        select * from board where bnum = #{bnum}
    </select>

    <select id="getBoardList" resultType="boardVO">
        select * from board order by bnum
    </select>

    <select id="getTotalCount" resultType="int">
        select count(1) from board
    </select>

    <select id="getPageList" resultType="boardVO">
        select
            a.bnum,
            a.btitle,
            a.filename,
            a.bwriter,
            a.bcontent,
            a.bdate
        from (
            select
                rownum as pnum,
                bnum,
                btitle,
                filename,
                bwriter,
                bcontent,
                bdate
            from board
            order by bnum desc) a
        where a.pnum
            between #{page} * #{size} + 1
            and (#{page} + 1) * #{size}
    </select>
</mapper>